@font-face {
  font-family: "MullerBold";
  font-style: normal;
  src: url('../fonts/MullerBold.woff2') format("woff2"),
       url('../fonts/MullerBold.woff') format("woff");
}
@font-face {
  font-family: "MullerLight";
  font-style: normal;
  src: url('../fonts/MullerLight.woff') format("woff"),
       url('../fonts/MullerLight.woff2') format("woff2");
}
@font-face {
  font-family: "MullerMedium";
  font-style: normal;
  src: url('../fonts/MullerMedium.woff') format("woff"),
       url('../fonts/MullerMedium.woff2') format("woff2");
}
@font-face {
  font-family: "MullerRegular";
  font-style: normal;
  src: url('../fonts/MullerRegular.woff') format("woff"),
       url('../fonts/MullerRegular.woff2') format("woff2");
}

* {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 2;
  border-radius: 10px;
  border: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #333333;
}

html {
  font-family: "MullerRegular";
  color: #333333;
  background-color:#F1F1F1;
}

h2 {
  font-family: "MullerRegular";
  font-size: 40px;
  line-height: 1;
  color: #333333;
  padding-left: 42px;
  padding-bottom: 23px;
  margin: 0;
}

.btn {
  display: inline-block;
  padding: .5em 1em;
  font-family: "MullerBold";
  font-size: 16px;
  line-height: 1;
  border-radius: 10px;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 70px;
}
/*header*/
header {
  min-height: 154px;
  margin-top: 30px;
}
.logo {
  display: inline-flex;
  height: 55px;
  margin-bottom: 30px;
  align-items: center;
}
.logo-img {
  margin-right: auto;
}
.phone {
  margin-left: 25px;
  padding-top: 17px;
  padding-bottom: 20px;
  text-align: center;
  font-family: "MullerBold";
  font-size: 22px;
  color: #666666;
}
.accaunt {
  margin-left: 550px;
  font-size: 16px;
  text-decoration: none;
  color: #CC9933;
  background-image: url(../img/Vector.svg);
  background-position: center left;
  background-size: auto;
  background-repeat: no-repeat;
  padding-left: 25px;
}


.header-nav {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  height: 70px;
  padding-left: 23px;
}
.header-item:not(:last-child) {
  margin-right: 45px;
} 
.form-search {
  margin-left: 110px;
}
/*проверить размеры отступов после верстки формы*/
.search {
  font-size: 14px;
  width: 325px;
  height: 50px;
  padding-left: 22px;
}
.parent {
  display: flex;
  flex-flow: row wrap;
  /*justify-content: space-between;*/
}
/*main-action*/
/*.section-action {
  height: 670px;
}*/

.reserve {
  display: flex;
  flex-direction: column;
  margin-right: 55px;
  width: 520px;
}
.reserve-input {
  min-height: 70px;
  margin-bottom: 23px;
  background-color: #FFFFFF;
  padding-left: 22px;
}
.search-action {
  display: flex;
  align-items: center;
}
.btn-search {
  line-height: 1;
  padding: 27px 30px;
  margin-right: 30px;
  background-color: #CC9933;
  color:#FFFFFF;
}
.action-link {
  color: #CC9933;
}
.action-text-link {
  color: #999999;
}
.offer {
  width: 595px;
}

/*.link-color {
  font-size: 16px;
  color: #CC9933;
}*/
.article {
  min-height: 540px;
  padding-left: 40px;
  padding-bottom: 35px;
  background-image: url("../img/pic1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
}
.title-article {
  width: 320px;
  margin: 0;
  padding-top: 265px;
  line-height: 1;
  color: #FFFFFF;
  font-family: "MullerBold";
  font-size: 66px;
  opacity: 1;
}
.article-link {
  background-image: url("../img/nav.png");
  background-position: center right;
  background-size: auto;
  background-repeat: no-repeat;
  padding-right: 10px;
}
.article-text {
  font-size: 35px;
  color: #fff;
}
.article-link {
  font-size: 16px;
  padding-left: 43px;
  color: #FFCC66;
}


/* main-description*/

/*.section-title-description {
  height: 30px;
  margin-bottom: 27px;
}*/
.description-text {
  padding-left: 43px;
  width: 880px;
  margin: 0;
}
/*service*/
.servise-title {
  padding-left: 45px;
}
.servise-title-link {
  color: #CC9933;
  background-image: url("../img/nav.png");
  background-position: center right;
  background-size: auto;
  background-repeat: no-repeat;
  padding-right: 10px;
}
.item-service {
  width: 573px;
  min-height: 326px;
  flex: 1 1 auto;
  background-color: #FFFFFF;
}
.item-service:not(:nth-child(2n)) {
  margin-right: 22px;
}
.img-service {
  border-radius: 10px 10px 0 0;
}
.item-service-text {
  width: 385px;
  margin-left: 45px;
  padding-bottom: 40px;
}
/*.right {
  margin-left: 24px;
}*/
.exlusiv {
  margin-bottom: 24px;
}
.banquet {
  margin-bottom: 24px;
}
/*benefits*/
.item-benefits {
  padding-left: 45px;
  width: 276px;
  min-height: 276px;
  background-color: #FFFFFF;
}

.item-benefits:not(:nth-child(4n)) {
  margin-right: 22px;
}
.top-row {
  margin-bottom: 23px;
}
.item-benefits-text {
  max-width: 186px;
  font-family: "MullerRegular";
  padding-top: 85px;
  padding-bottom: 40px;
  margin-top: 45px;
  background-repeat: no-repeat;
  background-size: 60px auto;
  background-color: transparent;
  background-position: top left;
}

.benefits-icon-bathtub {
  background-image: url("../img/bathtub.svg");
}
.benefits-icon-hanger {
  background-image: url("../img/hanger.svg");
}
.benefits-icon-heating {
  background-image: url("../img/heating.svg");
}
.benefits-icon-hotel-key {
  background-image: url("../img/hotel-key.svg");
}
.benefits-icon-parking {
  background-image: url("../img/parking.svg");
}
.benefits-icon-reception {
  background-image: url("../img/reception.svg");
}
.benefits-icon-security-box {
  background-image: url("../img/security-box.svg");
}
.benefits-icon-swimming-pool {
  background-image: url("../img/swimming-pool.svg");
}

/*choice-hotels*/
.child-choicehotels {
  width: 374px;
  height: 442px;
  background-color: #FFFFFF;
  margin-bottom: 25px;
}
.child-choicehotels:not(:nth-child(3n)) {
  margin-right: 24px;
}
.choicehotels-content {
  padding-left: 45px;
}
.hotels-choice {
  margin-left: 45px;
  margin-bottom: 55px;
}
.title-choice-hotels {
  padding-left: 45px;
  margin: 0;
}
.choice-hotels {
  border-radius: 10px 10px 0 0;
  margin-bottom: 30px;
}
.btn.hotels-choice {
  background-color: #FFFFFF;
  color: #CC9933;
  padding: 15px 20px;
  margin-top: 15px;
  border: 2px solid #CC9933;
}
.last-card {
  padding-top: 370px;
  padding-left: 40px;
  background-image: url("../img/41@1X.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
}
.last-card-text{
  font-size: 22px;
  color: #FFFFFF;
  background-image: url("../img/nav.png");
  background-position: center right;
  background-size: auto;
  background-repeat: no-repeat;
  padding-right: 10px;
}
.rating-stars {
  margin-left: 30px;
}
.stars {
  height: 13px;
  color: #CC9933;
}