@font-face {
  font-family: "MullerBold";
  font-style: normal;
  src: url('/fonts/MullerBold.woff2') format("woff2"),
       url('/fonts/MullerBold.woff') format("woff");
}
@font-face {
  font-family: "MullerLight";
  font-style: normal;
  src: url('/fonts/MullerLight.woff') format("woff2"),
       url('/fonts/MullerLight.woff2') format("woff");
}
@font-face {
  font-family: "MullerMedium";
  font-style: normal;
  src: url('/fonts/MullerMedium.woff') format("woff2"),
       url('/fonts/MullerMedium.woff2') format("woff");
}
@font-face {
  font-family: "MullerRegular";
  font-style: normal;
  src: url('/fonts/MullerRegular.woff') format("woff2"),
       url('/fonts/MullerRegular.woff2') format("woff");
}
* {
  font-family: "MullerRegular";
  box-sizing: border-box;
  font-size: 16px;
  line-height: 2;
  background-color:#F1F1F1;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.btn {
  display: inline-block;
  padding: .5em 1em;
  font-size: 16px;
  line-height: 1;
  border-radius: 4px;
  cursor: pointer;
}
h2 {
  font-family: "MullerBold";
  font-size: 40px;
  padding-left: 42px;
  margin: 0;
}


.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*header*/
header {
  min-height: 154px;
  margin-top: 30px;
  margin-bottom: 70px;
}
.logo {
  display: inline-flex;
  margin-bottom: 30px;
  align-items: center;
}
.logo-img {
  margin-right: auto;
}
.phone {
  margin-left: 25px;
  padding-top: 17px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 22px;
}
.accaunt {
  margin-left: 550px;
  font-size: 16px;
  text-decoration: none;
  color: #CC9933;
  background-image: url(../img/Vector.svg);
  background-position: center left;
  background-size: auto;
  background-repeat: no-repeat;
  padding-left: 25px;
}
/*.input-accaunt-icon*/

.header-nav {
  display: flex;
  align-items: center;
}
.header-item:not(:last-child) {
  margin-right: 47px;
} 
.form-search {
  margin-left: 125px;
}
.search {
  font-size: 14px;
  width: 355px;
  height: 50px;
  padding-left: 22px;
}
.parent {
  display: flex;
  flex-flow: row wrap;
  /*justify-content: space-between;*/
}
/*main-action*/
/*.section-action {
  height: 670px;
}*/
.section-action {
  padding-bottom: 70px;
}
.reserve {
  display: flex;
  flex-direction: column;
  margin-right: 55px;
  width: 520px;
  outline: 3px solid tomato;
}
.search-action {
  display: flex;
  align-items: center;
}
.btn-search {
  margin-right: 30px;
}
.offer {
  width: 595px;
  outline: 3px solid tomato;
}
/*.link-color {
  font-size: 16px;
  color: #CC9933;
}
.article-linc-icon {

}*/
.title-article {
  width: 320px;
  line-height: 1;
  color: #FFFFFF;
  font-size: 66px;
}


/* main-description*/
.section-description {
  padding-bottom: 65px;
}
/*.section-title-description {
  height: 30px;
  margin-bottom: 27px;
}*/
.description-text {
  padding-left: 43px;
  width: 880px;
  margin: 0;
}
/*service*/
.servise-title {
  padding-left: 45px;
}
.item-service {
  width: 573px;
  min-height: 326px;
  flex: 1 1 auto;
}
.item-service:not(:nth-child(2n)) {
  margin-right: 22px;
}
.item-service-text {
  width: 385px;
  padding-left: 45px;
  padding-bottom: 40px;
}
/*.right {
  margin-left: 24px;
}*/
.exlusiv {
  margin-bottom: 24px;
}
.banquet {
  margin-bottom: 24px;
}
/*benefits*/

.item-benefits:not(:nth-child(4n)) {
  margin-right: 22px;
}
.top-row {
  margin-bottom: 23px;
}
.item-benefits-text {

  padding-right: 45px;
  padding-bottom: 40px;
  margin-top: 60px;
}
.item-benefits-icon {
  width: 276px;
  min-height: 276px;
  margin-left: 45px;
  background-repeat: no-repeat;
  background-size: 60px auto;
  background-color: transparent;
  background-position: top left;
}

.benefits-icon-bathtub {
  background-image: url('/img/bathtub.svg');
}

/*choice-hotels*/
.child-choicehotels {
  width: 374px;
  height: 442px;
}
.child-choicehotels:not(:nth-child(3n)) {
  margin-right: 24px;
}
.choicehotels-content {
  padding-left: 45px;
}
.hotels-choice {
  margin-left: 45px;
  margin-bottom: 55px;
}
.title-choice-hotels {
  padding-left: 45px;
}